/* Write CSS code here */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 50px;
    background-color: rgb(247, 225, 225);
}

label{
    outline: 0px;
    border: 2px;
    font-size: 25px;
    color: blueviolet;
    margin: 12px;
}

input{
    outline: 0px;
    border: 2px;
    background-color: rgb(187, 187, 204);
    border-radius: 3px;
    font-size: 15px;
    color: rgb(14, 15, 15);
    padding: 2px;
}

#button {
    border: none;
    background-color: rgb(247, 207, 207);
    padding: 20px;
    width: 12px;
    margin: 15px;
    color: blue;   
    border-radius: 3px; 
}

input[type="submit"] {
    cursor: pointer;
}
